spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/scooterhelp
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.schema: DEBUG

